
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160.8rem;
}.desktop-1-9AC {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #eed9d9;
  width: 100%;

  .rectangle-5-Ab6 {
    padding: 3.394rem 0rem 2.532rem 0rem;
    width: 165.6923rem;
    background-color: #4a2c2c;
    flex-shrink: 0;
    margin-bottom: 2.8rem;
    box-sizing: border-box;

    .line-1-p3N {
      margin: 0rem 0rem 5.406rem 0rem;
      width: calc(100% - 0rem);
      height: 0.7rem;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .auto-group-h82g-pBn {
      margin: 0rem 0rem 6.418rem 2.952rem;
      display: flex;
      align-items: center;

      .camaras-de-fotodecteccin-cali-valle-del-cauca-Xbz {
        white-space: nowrap;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0.05rem 14.952rem 0rem 0rem;
        line-height: 0.8333333333;
        flex-shrink: 0;
      }
      .inicio-kzY {
        display: flex;
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 5.93rem 0.05rem 0rem;
        line-height: 0.8333333333;
        color: #ffffff;
        white-space: nowrap;
        font-size: 3.6rem;
      }
      .visor-fbi {
        white-space: nowrap;
        margin-bottom: 0.05rem;
        display: flex;
        font-weight: 700;
        line-height: 0.8333333333;
        color: #ffffff;
        cursor: pointer;
        font-size: 3.6rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .line-2-m8x {
      margin-right: 0.0001rem;
      width: calc(100% - 0.0001rem);
      height: 0.7rem;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
  }
  .auto-group-hgra-2qa {
    margin: 0rem 4.848rem 3.9rem 1.7rem;
    width: calc(100% - 6.5488rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .las-cmaras-de-fotodeteccin-son-dispositivos-avanzados-diseados-para-monitorear-y-hacer-cumplir-las-normas-de-trfico-en-reas-urbanas-y-carreteras-estas-cmaras-desempean-un-papel-crucial-en-la-mejora-de-la-seguridad-vial-al-detectar-y-registrar-violaciones-de-trfico-como-excesos-de-velocidad-semforos-en-rojo-y-comportamientos-peligrosos-una-de-las-funciones-ms-comunes-de-las-cmaras-de-fotodeteccin-es-la-captura-automtica-de-imgenes-o-videos-de-vehculos-que-violan-las-reglas-de-trfico-estos-registros-pueden-utilizarse-como-pruebas-legales-en-la-aplicacin-de-sanciones-y-multas-adems-las-cmaras-de-fotodeteccin-pueden-ser-implementadas-en-zonas-de-alto-trfico-o-en-reas-donde-se-requiere-una-mayor-vigilancia-contribuyendo-as-a-reducir-accidentes-y-mejorar-la-seguridad-de-los-peatones-y-conductores-LbN {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      font-size: 2.2rem;
      font-weight: 700;
      margin: 0rem 13rem 4rem 0rem;
      max-width: 86.7rem;
      line-height: 1.2727272727;
    }
    .hikvision-image-chile-1-SRS {
      width: 54.5517rem;
      height: 47.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .rectangle-6-A6Y {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.656rem 0rem 1.2rem 0rem;
    width: 166.6717rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #4a2c2c;

    .line-2-5UQ {
      width: 100%;
      height: 0.7rem;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin-bottom: 0.8445rem;
    }
    .auto-group-lukk-z5a {
      flex-shrink: 0;
      margin: 0rem 29.949rem 0rem 26.564rem;
      width: calc(100% - 56.5134rem);
      height: 5.8rem;
      display: flex;
      align-items: center;

      .auto-group-dyxq-VY8 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.3rem 5.748rem 0.3rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;

        .steven-felipe-gomez-Dj2 {
          display: flex;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1;
          color: #ffffff;
          flex-shrink: 0;
          margin: 0rem 20.117rem 0.1rem 0rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .phone-call455705-1-XDv {
          object-fit: cover;
          vertical-align: top;
          border-radius: 6rem;
          flex-shrink: 0;
          margin: 0rem 1.212rem 0.7rem 0rem;
          width: 5.9593rem;
          height: 4.5rem;
        }
        .item-3138752665-EPE {
          display: flex;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .email542689-1-MTr {
        margin-right: 3.2226rem;
        width: 6.3rem;
        height: 5.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .pipegatasgmailcom-fUY {
        margin-bottom: 0.3rem;
        font-size: 2rem;
        flex-shrink: 0;
        display: flex;
        font-weight: 700;
        line-height: 1;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
