
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160.8rem;
}.desktop-2-eSG {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #eedada;
  overflow: hidden;
  position: relative;
  align-items: center;
  border: solid 0.1rem #000000;

  .rectangle-5-b6c {
    box-sizing: border-box;
    padding-top: 3.3996rem;
    width: 161.6312rem;
    display: flex;
    background-color: #4a2c2c;
    flex-shrink: 0;
    margin-bottom: 26.85rem;
    flex-direction: column;
    align-items: center;

    .line-1-6p4 {
      height: 0.7rem;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      width: 100%;
    }
    .auto-group-ysms-2Bv {
      box-sizing: border-box;
      padding: 5.4rem 0rem 2.519rem 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-2vo6-k7v {
        margin: 0rem 0rem 6.431rem 2.879rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .camaras-de-fotodecteccin-cali-valle-del-cauca-5fz {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.8333333333;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0.05rem 12.071rem 0rem 0rem;
        }
        .inicio-ZbA {
          cursor: pointer;
          display: flex;
          font-weight: 700;
          line-height: 0.8333333333;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 5.466rem 0.05rem 0rem;
          flex-shrink: 0;
          font-size: 3.6rem;
        }
        .visor-5Jc {
          margin-bottom: 0.05rem;
          font-weight: 700;
          line-height: 0.8333333333;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 3.6rem;
          color: #ffffff;
          flex-shrink: 0;
        }
      }
      .line-2-3Pr {
        background-color: #ffffff;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        margin-right: 0.0001rem;
        width: calc(100% - 0.0001rem);
        height: 0.7rem;
      }
    }
  }
  .a-continuacin-se-puede-observar-el-sistema-de-cmaras-de-fotodeteccin-en-cali-valle-del-cauca-Y5i {
    margin: 0rem 0rem 33.75rem 4.022rem;
    max-width: 139.1rem;
    align-items: center;
    justify-content: center;
    line-height: 1;
    flex-shrink: 0;
    display: flex;
    font-size: 3.6rem;
    font-weight: 700;
    text-decoration-line: underline;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
  }
  .rectangle-6-L1a {
    padding: 3.667rem 0rem 1.2rem 0rem;
    width: 162.5867rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #4a2c2c;
    flex-shrink: 0;
    box-sizing: border-box;

    .line-2-DLG {
      width: 100%;
      height: 0.7rem;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin-bottom: 0.8325rem;
    }
    .auto-group-j58g-8CL {
      margin: 0rem 28.629rem 0rem 25.913rem;
      width: calc(100% - 54.5426rem);
      height: 5.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-unyu-qMe {
        padding: 0.3rem 7.847rem 0.3rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .steven-felipe-gomez-mFJ {
          margin: 0rem 18.844rem 0.1rem 0rem;
          font-size: 2rem;
          flex-shrink: 0;
          display: flex;
          font-weight: 700;
          line-height: 1;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .phone-call455705-1-Ghr {
          margin: 0rem 1.182rem 0.7rem 0rem;
          width: 5.8132rem;
          height: 4.5rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 6rem;
          flex-shrink: 0;
        }
        .item-3138752665-nRJ {
          font-weight: 700;
          line-height: 1;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
        }
      }
      .email542689-1-v1i {
        margin-right: 0.4573rem;
        width: 6.3rem;
        height: 5.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .pipegatasgmailcom-Eo6 {
        font-size: 2rem;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        line-height: 1;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.3rem;
      }
    }
  }
}
